/* css variables */
:root{
  --bluedark: #03045E;
  --bluemeddark: #0077B6;
  --bluemed: #00B4D8;
  --bluemedlight: #90E0EF;
  --bluelight: #CAF0F8;
  --white: #ffffff;
  --black: #000000;
  --graylight: #e6d6d6;
  --graydark: #6e6e69;

  --color-header: var(--bluelight);
  --color-sidecol: var(--bluemed);
  --color-maincol: var(--bluemedlight);
  --color-footer: var(--bluelight);
}

* {
  box-sizing: border-box;
}

/* Style the body */
body {
  font-family: Arial;
  margin: 0;
  background-color: var(--color-maincol);
}

/* Header/logo Title */
.header {
  padding: 60px;
  text-align: center;
  background-color: var(--color-header);
  color: var(--black)
}

/* Style the top navigation bar */
.navbar {
  display: flex;
  background-color: var(--bluedark);
}
/* Style the navigation bar links */
.navbar a {
  color: var(--white);
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
}
.navbar a:hover:not(.active) {
  background-color: var(--graylight);
  color: var(--black)
}
.navbar .active {
  background-color: var(--graydark);
}

/* Column container */
.row {  
  display: flex;
  flex-wrap: wrap;
}
/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side {
  flex: 30%;
  background-color: var(--color-sidecol);
  padding: 20px;
}
/* Main column */
.main {
  flex: 70%;
  background-color: var(--color-maincol);
  padding: 20px;
}

/* images */
.img-sloth-bag{
  width: 300px;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.img-gymnastics {
  width: 256px;
  height: 340px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.img-dr-kati{
  width: 240px;
  height: 320px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.img-school-interuption{
  width: 400px;
  height: 225px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

/* Footer */
.footer {
  padding: 30px;
  text-align: center;
  background: var(--color-footer)
}
.footer a {
  text-decoration: none;
}
.img-social-media {
  width: 40px;
  height: 40px;
  margin: 0 10px;
}

/* Responsive layout - when the screen is less than 700px wide, make 
   the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .row, .navbar {   
    flex-direction: column;
  }
}

/********** Gallery sloths **********/
/* From: https://code-boxx.com/responsive-image-gallery-html-css/  */
/* (B) GALLERY WRAPPER */
.gallery-sloths {
  /* (B1) GRID LAYOUT - 3 IMAGES PER ROW */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;

  /* (B2) OPTIONAL WIDTH RESTRICT */
  max-width: 1000px;
  margin: 0 auto;
  overflow: hidden;
}

/* (C) GALLERY IMAGES */
.gallery-sloths img {
  /* (C1) DIMENSION */
  width: 100%;
  height: 150px; /* optional */
  padding: 10px;

  /* (C2) COLORS */
  /* border: 1px solid var(--bluedark); */
  background: var(--bluemed);

  /* (C3) IMAGE RESIZE */
  /* cover | contain | fill | scale-down */
  object-fit: contain;
  position: relative;
}

/* (D) ON SMALL SCREENS - 2 IMAGES PER ROW */
@media only screen and (max-width: 600px) {
  .gallery-sloths {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* (E) OPTIONAL ZOOM ON HOVER */
.gallery-sloths img:hover {
  z-index: 9;
  transform: scale(1.3);
  /* linear | ease | ease-in | ease-out | ease-in-out */
  transition: transform ease 0.5s;
}

/* (F) FULLSCREEN MODE */
.gallery-sloths img.full {
  position: fixed;
  top: 0; left: 0; z-index: 999;
  width: 100vw; height: 100vh;
  object-fit: fit;
  background: rgba(0, 0, 0, 0.7);
}
.gallery-sloths img.full:hover {
  z-index: 999;
  transform: none;
}