/* css variables */
:root{
  --bluedark: #03045E;
  --bluemeddark: #0077B6;
  --bluemed: #00B4D8;
  --bluemedlight: #90E0EF;
  --bluelight: #CAF0F8;
  --white: #ffffff;
  --black: #000000;
  --green: #1da140;
  --graylight: #e6d6d6;
  --graydark: #6e6e69;
}

* {
  box-sizing: border-box;
}

/* Style the body */
body {
  font-family: Arial;
  margin: 0;
}

/* Header/logo Title */
.header {
  padding: 60px;
  text-align: center;
  background-color: var(--bluelight);
  color: var(--black)
}

/* Style the top navigation bar */
.navbar {
  display: flex;
  background-color: var(--bluedark);
}
/* Style the navigation bar links */
.navbar a {
  color: var(--white);
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
}
.navbar a:hover:not(.active) {
  background-color: var(--graylight);
  color: var(--black)
}
.navbar .active {
  background-color: var(--graydark);
}

/* Column container */
.row {  
  display: flex;
  flex-wrap: wrap;
}
/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side {
  flex: 30%;
  background-color: var(--bluemed);
  padding: 20px;
}
/* Main column */
.main {
  flex: 70%;
  background-color: var(--bluemedlight);
  padding: 20px;
}

/* images */
.img-sloth-bag{
  width: 300px;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.img-gymnastics {
  width: 256px;
  height: 340px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.img-dr-kati{
  width: 240px;
  height: 320px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.img-school-interuption{
  width: 400px;
  height: 225px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

/* Footer */
.footer {
  padding: 30px;
  text-align: center;
  background: var(--bluelight)
}
.footer a {
  text-decoration: none;
}
.img-social-media {
  width: 40px;
  height: 40px;
  margin: 0 10px;
}

/* Responsive layout - when the screen is less than 700px wide, make 
   the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
  .row, .navbar {   
    flex-direction: column;
  }
}
