* {
  box-sizing: border-box;
}

/* header */
header {
  padding: 60px;
  text-align: center;
}

/* images */
.img-sloth-bag{
  width: 70%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}
.img-gymnastics {
  width: 70%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}
.img-dr-kati{
  width: 50%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  display:block;
}
.img-school-interuption{
  width: 70%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

/* Footer */
footer {
  padding: 30px;
  text-align: center;
}
footer a {
  text-decoration: none;
}
.footer-img-social-media {
  width: 40px;
  height: 40px;
  margin: 0 10px;
}

.gallery-sloths {
  width: 100%;
  height:auto;
}