* {
  box-sizing: border-box;
}

/* header */
header {
  padding: 60px;
  text-align: center;
}

/* non-gallery images */
.img-sloth-bag{
  width: 70%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}
.img-gymnastics {
  width: 70%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}
.img-dr-kati{
  width: 50%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  display:block;
}
.img-school-interuption{
  width: 70%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

/* Footer */
footer {
  padding: 30px;
  text-align: center;
}
footer a {
  text-decoration: none;
}
.footer-img-social-media {
  width: 40px;
  height: 40px;
  margin: 0 10px;
}

/* sloth gallery page */
.gallery-sloths img{
  height: 150px; 
  max-width: 100%;
  height:150px;
  margin-bottom: 20px;
}
/********** Effects **********/
/* Zoom On Hover*/
.gallery-sloths img:hover {
  z-index: 9;
  transform: scale(1.3);
  /* linear | ease | ease-in | ease-out | ease-in-out */
  transition: transform ease 0.5s;
  background-color: var(--hover-color);
}
/* Fullscreen Mode (see Javascript file)*/
.gallery-sloths img.full {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100vw;
  height: 100vh;
  object-fit: fit;
  background: rgba(0, 0, 0, 0.7);
}
.gallery-sloths img.full:hover {
  z-index: 999;
  transform: none;
}
